.animate-charcter {
  text-transform: capitalize;
  background-image: linear-gradient(-225deg, #172274 0%, #0434da 29%, #5ba2e2 67%, #0a78f7 100% #0251ac 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* Start of card animation */
.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #682d0e;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}
/* paragraph text effect */
/* .container {
  padding: 1vw;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
} */
#paracolor {
  color: #000;
  font-family: "montserrat";
  /* font-size: 3vw; */
  font-weight: bold;
  /* letter-spacing: 1vw; */
  /* max-width: 700px; */
  text-align: center;
  background: rgb(255, 253, 160);
  background: -webkit-linear-gradient(left, #00ffff 0%, #97fba0 25%, #97b1fb 50%, #00ffff 100%) repeat;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-animation-name: masked-animation;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes masked-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -8000px -3000px;
  }
}
Background effect body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: 1.6268530213em -0.0089320863em 7px hsla(16.9211582308deg, 100%, 50%, 0.9), 1.4681615263em 2.1554138494em 7px hsla(153.7069769458deg, 100%, 50%, 0.9), 0.6987138674em 0.0617350855em 7px hsla(140.7950382606deg, 100%, 50%, 0.9), 0.2323383543em 1.4089753523em 7px hsla(179.7073554604deg, 100%, 50%, 0.9), 1.6571860535em 0.5688057946em 7px hsla(2.3204706369deg, 100%, 50%, 0.9), 1.8749374974em 0.0357601289em 7px hsla(281.5795119163deg, 100%, 50%, 0.9), 1.4354227493em 0.9161330766em 7px hsla(307.2830069634deg, 100%, 50%, 0.9), 1.4382157426em 2.2866233245em 7px hsla(251.3511361682deg, 100%, 50%, 0.9), -0.4121732674em 2.2916604373em 7px hsla(67.9426223375deg, 100%, 50%, 0.9), 0.6116703163em 0.2473572436em 7px hsla(247.2879899458deg, 100%, 50%, 0.9), 2.156211744em 1.1253396609em 7px hsla(9.07288018deg, 100%, 50%, 0.9), 0.4285885449em 1.9322344755em 7px hsla(261.0282993812deg, 100%, 50%, 0.9), 0.840561277em 0.160680992em 7px hsla(345.1568161525deg, 100%, 50%, 0.9), 1.6672983624em 1.2911126018em 7px hsla(49.8652702186deg, 100%, 50%, 0.9), 1.7967296136em 0.165413801em 7px hsla(79.3556540867deg, 100%, 50%, 0.9), 0.9780393222em 1.9171905034em 7px hsla(135.5776324956deg, 100%, 50%, 0.9), 0.4899918954em -0.105249613em 7px hsla(29.7891016458deg, 100%, 50%, 0.9), 0.2695860115em 0.4738657581em 7px hsla(69.5034230272deg, 100%, 50%, 0.9), 1.0093626567em 1.0901805918em 7px hsla(123.6184350642deg, 100%, 50%, 0.9), -0.1616097213em 0.9915736452em 7px hsla(310.9527287725deg, 100%, 50%, 0.9), 1.8296853517em 0.6258652747em 7px hsla(160.0635412233deg, 100%, 50%, 0.9), 1.3525114877em 0.7532444669em 7px hsla(230.3048232228deg, 100%, 50%, 0.9), 1.382815747em 2.2942234014em 7px hsla(252.5699753925deg, 100%, 50%, 0.9), 1.3445421763em 1.6211186442em 7px hsla(155.031006208deg, 100%, 50%, 0.9), 1.4987132945em 2.3158485437em 7px hsla(59.8794124075deg, 100%, 50%, 0.9), 0.2864439251em 2.4380662114em 7px hsla(346.571201358deg, 100%, 50%, 0.9), 2.0435988313em 2.4241670989em 7px hsla(136.4308085669deg, 100%, 50%, 0.9), 1.7106842308em 1.3702221842em 7px hsla(6.1708468548deg, 100%, 50%, 0.9), -0.3070846039em -0.4381464478em 7px hsla(182.3122178253deg, 100%, 50%, 0.9), 0.3233397342em 1.0005887559em 7px hsla(84.5716800884deg, 100%, 50%, 0.9), 1.6877123208em 0.333661946em 7px hsla(246.1820836274deg, 100%, 50%, 0.9), 1.9915669812em 0.4576838002em 7px hsla(64.3379695225deg, 100%, 50%, 0.9), 0.1082117478em 0.7930559299em 7px hsla(98.6842249433deg, 100%, 50%, 0.9), 0.0183579981em 0.7359179306em 7px hsla(26.755972069deg, 100%, 50%, 0.9), 1.0665116308em 0.0445301731em 7px hsla(216.5565431734deg, 100%, 50%, 0.9), 1.503188532em 0.6651681593em 7px hsla(140.5369662872deg, 100%, 50%, 0.9), 2.0064162613em 1.4191298789em 7px hsla(81.2125816764deg, 100%, 50%, 0.9), 0.7564232143em 0.5332734736em 7px hsla(354.220238044deg, 100%, 50%, 0.9), 2.155725332em 1.6908997198em 7px hsla(218.2343858149deg, 100%, 50%, 0.9), 0.923234229em 2.4185524368em 7px hsla(105.9875447339deg, 100%, 50%, 0.9), -0.1464756702em 2.1217733176em 7px hsla(215.1333481947deg, 100%, 50%, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  text-shadow: 0.6281913571em -0.2774624453em 7px hsla(230.7768704694deg, 100%, 50%, 0.9), 2.3502445005em -0.0504916513em 7px hsla(17.4777394817deg, 100%, 50%, 0.9), -0.3270575484em 2.26827321em 7px hsla(297.9972492455deg, 100%, 50%, 0.9), 0.6315003774em 1.8972584605em 7px hsla(26.1985192587deg, 100%, 50%, 0.9), 1.6686769974em 2.175026886em 7px hsla(179.1357765244deg, 100%, 50%, 0.9), 0.0947335948em 1.9888223174em 7px hsla(298.8734520124deg, 100%, 50%, 0.9), 1.107692315em -0.1235217486em 7px hsla(23.6157442763deg, 100%, 50%, 0.9), 1.1638660688em 1.1475640782em 7px hsla(10.3939257242deg, 100%, 50%, 0.9), 1.4571428927em 0.2967644533em 7px hsla(178.8041900594deg, 100%, 50%, 0.9), 0.9555812789em 2.2651071226em 7px hsla(224.7122539651deg, 100%, 50%, 0.9), 2.241288644em 1.9162353464em 7px hsla(157.5983766916deg, 100%, 50%, 0.9), 2.2824471691em -0.0499945246em 7px hsla(52.4416464634deg, 100%, 50%, 0.9), 2.2526813435em 0.9247818155em 7px hsla(155.7245918405deg, 100%, 50%, 0.9), -0.1731062949em 1.0094985816em 7px hsla(142.2993418378deg, 100%, 50%, 0.9), 2.4085309922em 2.4441533325em 7px hsla(292.1581706996deg, 100%, 50%, 0.9), 0.4259366337em 0.3420164982em 7px hsla(269.7966977792deg, 100%, 50%, 0.9), 1.8327837871em -0.0349459508em 7px hsla(340.2695017217deg, 100%, 50%, 0.9), -0.4801102245em 1.2011804749em 7px hsla(269.3682081943deg, 100%, 50%, 0.9), -0.4766672188em 0.1581602781em 7px hsla(123.392319116deg, 100%, 50%, 0.9), 0.0362208816em 0.7008350287em 7px hsla(150.0111492308deg, 100%, 50%, 0.9), 0.377340653em 1.7876363591em 7px hsla(247.6612855807deg, 100%, 50%, 0.9), 0.3099488777em -0.3855118797em 7px hsla(84.6774004479deg, 100%, 50%, 0.9), 2.3169531006em -0.3676498731em 7px hsla(213.9436935508deg, 100%, 50%, 0.9), 0.3276130566em -0.0120021229em 7px hsla(5.1109352967deg, 100%, 50%, 0.9), 0.6646520925em 1.4270379907em 7px hsla(342.0469323815deg, 100%, 50%, 0.9), 0.1028838366em 1.2844437399em 7px hsla(342.7373176258deg, 100%, 50%, 0.9), 1.2316126715em -0.342807379em 7px hsla(75.2469778884deg, 100%, 50%, 0.9), 1.6897738607em 1.176114202em 7px hsla(161.0149503648deg, 100%, 50%, 0.9), 0.3486869481em 0.9832134012em 7px hsla(179.5835188732deg, 100%, 50%, 0.9), 0.3663085524em 1.8784545614em 7px hsla(160.6334613664deg, 100%, 50%, 0.9), 1.3507435841em 0.170443835em 7px hsla(68.9551556918deg, 100%, 50%, 0.9), -0.024502947em -0.2533615652em 7px hsla(194.4510434346deg, 100%, 50%, 0.9), -0.0661788961em 2.1989460303em 7px hsla(90.898253767deg, 100%, 50%, 0.9), 1.6318952111em 0.8527987686em 7px hsla(186.1854856261deg, 100%, 50%, 0.9), 0.6739794881em 1.4787776292em 7px hsla(31.1715540613deg, 100%, 50%, 0.9), 1.6735552655em 1.0125088146em 7px hsla(330.0810022911deg, 100%, 50%, 0.9), 1.8797672848em 2.3945319075em 7px hsla(10.9176736019deg, 100%, 50%, 0.9), 2.371265777em 2.149621987em 7px hsla(166.1438532777deg, 100%, 50%, 0.9), 1.9098773062em 1.0903275854em 7px hsla(323.8680127146deg, 100%, 50%, 0.9), 0.574466906em -0.2560024282em 7px hsla(202.2157610604deg, 100%, 50%, 0.9), -0.4584677472em 1.3515950697em 7px hsla(190.1709839737deg, 100%, 50%, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  text-shadow: 1.5970711086em -0.0790821685em 7px hsla(272.9010482747deg, 100%, 50%, 0.9), 1.9415026405em 0.7065625629em 7px hsla(64.9981468437deg, 100%, 50%, 0.9), -0.406177311em 0.2447715165em 7px hsla(264.0955158751deg, 100%, 50%, 0.9), 0.0890569845em -0.4897805918em 7px hsla(286.7423475793deg, 100%, 50%, 0.9), 1.295758362em 0.6755114364em 7px hsla(83.8657140236deg, 100%, 50%, 0.9), -0.35403085em 0.6065100716em 7px hsla(17.2721114911deg, 100%, 50%, 0.9), 0.9114142056em 0.0679213763em 7px hsla(2.8044872306deg, 100%, 50%, 0.9), -0.3633453034em -0.4056563344em 7px hsla(324.0925983417deg, 100%, 50%, 0.9), -0.0010555616em 1.5193401734em 7px hsla(199.556095088deg, 100%, 50%, 0.9), -0.2029878299em 1.9492678424em 7px hsla(239.3390629772deg, 100%, 50%, 0.9), 1.9760839908em 0.0857291043em 7px hsla(268.0212747556deg, 100%, 50%, 0.9), -0.1374073379em 1.251299813em 7px hsla(103.5820523549deg, 100%, 50%, 0.9), 0.6244243876em 0.8781669314em 7px hsla(304.3711114465deg, 100%, 50%, 0.9), 2.2590923104em 0.3224173037em 7px hsla(259.6323002479deg, 100%, 50%, 0.9), 1.1535287326em 1.661609967em 7px hsla(132.9667749054deg, 100%, 50%, 0.9), 1.763957556em 2.0537420302em 7px hsla(98.8756386045deg, 100%, 50%, 0.9), 2.2788566759em 1.2176624154em 7px hsla(138.242130539deg, 100%, 50%, 0.9), 0.059247329em 0.0782286478em 7px hsla(6.5681978393deg, 100%, 50%, 0.9), 2.3429254695em 2.3272328481em 7px hsla(53.3890978923deg, 100%, 50%, 0.9), 1.1641938761em 1.0124043827em 7px hsla(79.5008561697deg, 100%, 50%, 0.9), -0.3074218045em 0.2741897408em 7px hsla(286.0761565263deg, 100%, 50%, 0.9), 0.3085564862em 0.7095346125em 7px hsla(275.7371766642deg, 100%, 50%, 0.9), 0.9469497842em -0.1695380313em 7px hsla(298.6042656754deg, 100%, 50%, 0.9), 1.1306000695em 0.3913975033em 7px hsla(44.3391829406deg, 100%, 50%, 0.9), 0.5368737149em 0.7592539217em 7px hsla(249.2387369979deg, 100%, 50%, 0.9), 0.2973190373em -0.027483154em 7px hsla(226.0883674315deg, 100%, 50%, 0.9), 1.2243761211em 2.1566124502em 7px hsla(204.1559691457deg, 100%, 50%, 0.9), 0.5626698116em 1.9714943525em 7px hsla(197.8136881433deg, 100%, 50%, 0.9), -0.0313889472em 1.7193734956em 7px hsla(255.5210144909deg, 100%, 50%, 0.9), 0.1827549449em 0.5997553424em 7px hsla(121.9238745125deg, 100%, 50%, 0.9), 2.3471616417em 0.6190926962em 7px hsla(321.4441374331deg, 100%, 50%, 0.9), -0.3323348607em 1.6296486995em 7px hsla(79.3290358881deg, 100%, 50%, 0.9), 2.1734959175em 2.2838640908em 7px hsla(183.5815233806deg, 100%, 50%, 0.9), 0.8419596369em -0.4820660503em 7px hsla(243.623073019deg, 100%, 50%, 0.9), 1.184592535em 1.4928546673em 7px hsla(152.3918847385deg, 100%, 50%, 0.9), 1.5563042441em 2.1241356537em 7px hsla(301.1272137693deg, 100%, 50%, 0.9), 1.2429643685em 1.2857707222em 7px hsla(304.0876507017deg, 100%, 50%, 0.9), 0.6784954585em -0.3920672979em 7px hsla(245.2900213388deg, 100%, 50%, 0.9), 2.0273791937em 0.4103353756em 7px hsla(57.0462812344deg, 100%, 50%, 0.9), 0.8496818851em 1.8581919333em 7px hsla(145.7375421262deg, 100%, 50%, 0.9), 0.7476712832em 0.6514331469em 7px hsla(55.7272990847deg, 100%, 50%, 0.9);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  text-shadow: 2.2714937281em 0.2441464516em 7px hsla(34.3951804771deg, 100%, 50%, 0.9), 0.139984036em 0.3746742219em 7px hsla(94.3160925925deg, 100%, 50%, 0.9), -0.1598597476em 0.3289696323em 7px hsla(104.3901615875deg, 100%, 50%, 0.9), 0.8268864719em 1.8461510956em 7px hsla(128.2680366183deg, 100%, 50%, 0.9), 0.0162657784em 1.9747003225em 7px hsla(123.8870138122deg, 100%, 50%, 0.9), 0.4018576552em 1.5958357987em 7px hsla(170.8308589848deg, 100%, 50%, 0.9), 1.8492946679em 1.1077415536em 7px hsla(100.2642784667deg, 100%, 50%, 0.9), 0.9948822361em 0.0107019217em 7px hsla(190.7602855697deg, 100%, 50%, 0.9), 0.0144775619em 0.896247455em 7px hsla(195.0480868289deg, 100%, 50%, 0.9), 0.6994415314em 0.2199066228em 7px hsla(79.5545935793deg, 100%, 50%, 0.9), 1.1011430808em 0.1488093838em 7px hsla(297.269672479deg, 100%, 50%, 0.9), 1.5515277244em 0.3273403276em 7px hsla(330.2723270283deg, 100%, 50%, 0.9), -0.2874922477em -0.4824261756em 7px hsla(53.5740655557deg, 100%, 50%, 0.9), 2.1751469698em 1.5248959409em 7px hsla(14.7850338091deg, 100%, 50%, 0.9), 1.876435193em -0.1485991957em 7px hsla(79.0654249404deg, 100%, 50%, 0.9), 1.1330106314em 2.1663243709em 7px hsla(30.8735771203deg, 100%, 50%, 0.9), -0.3160902349em 2.2245778845em 7px hsla(10.9956354107deg, 100%, 50%, 0.9), 1.6408721261em -0.4682531229em 7px hsla(31.4988170101deg, 100%, 50%, 0.9), 0.0412559141em 1.1858995141em 7px hsla(355.9294093431deg, 100%, 50%, 0.9), 0.8521391176em -0.049908284em 7px hsla(59.4966529586deg, 100%, 50%, 0.9), 0.5809961484em 0.8343457091em 7px hsla(273.1696387514deg, 100%, 50%, 0.9), 0.2431759419em 1.760150996em 7px hsla(10.1298653449deg, 100%, 50%, 0.9), 2.3990624629em 1.2601418733em 7px hsla(359.0552451861deg, 100%, 50%, 0.9), 0.2556341269em 1.4556572798em 7px hsla(347.6970321069deg, 100%, 50%, 0.9), 0.8614031601em 0.2399934776em 7px hsla(178.0869287811deg, 100%, 50%, 0.9), 1.6414284584em 2.3503335349em 7px hsla(69.9204449022deg, 100%, 50%, 0.9), 0.7428182334em 1.7084178586em 7px hsla(232.6138021743deg, 100%, 50%, 0.9), 2.4096416999em -0.0345053152em 7px hsla(333.4098329038deg, 100%, 50%, 0.9), 2.0019002405em 0.5654744094em 7px hsla(64.8768696085deg, 100%, 50%, 0.9), 0.3883291171em 2.4629274363em 7px hsla(211.2318189931deg, 100%, 50%, 0.9), 1.3273464232em 1.6848890963em 7px hsla(155.9417142594deg, 100%, 50%, 0.9), 0.3988381366em 0.0064261091em 7px hsla(209.4562747916deg, 100%, 50%, 0.9), 1.1754215452em 2.1434478698em 7px hsla(30.1263346195deg, 100%, 50%, 0.9), 2.4353612864em 0.0037180566em 7px hsla(120.6141552224deg, 100%, 50%, 0.9), 1.3868191963em 0.0549051581em 7px hsla(353.5639855835deg, 100%, 50%, 0.9), 1.6100871715em 1.4395932856em 7px hsla(86.234486472deg, 100%, 50%, 0.9), 0.5564895016em 0.6764204545em 7px hsla(255.4346414449deg, 100%, 50%, 0.9), 0.6973129696em 0.8259084113em 7px hsla(134.7117069162deg, 100%, 50%, 0.9), 0.4180430333em -0.3648627632em 7px hsla(302.3761327882deg, 100%, 50%, 0.9), 1.5536528058em 2.1907483158em 7px hsla(183.7186910252deg, 100%, 50%, 0.9), 1.2533550076em 0.3235026544em 7px hsla(82.29922392deg, 100%, 50%, 0.9);
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}/*# sourceMappingURL=colors.css.map */