.animate-charcter {
  text-transform: capitalize;
  background-image: linear-gradient(-225deg, #172274 0%, #0434da 29%, #5ba2e2 67%, #0a78f7 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* Start of card animation */
.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #682d0e;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}
/* paragraph text effect */
/* .container {
  padding: 1vw;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
} */
#paracolor {
  color: #000;
  font-family: "montserrat";
  /* font-size: 3vw; */
  font-weight: bold;
  /* letter-spacing: 1vw; */
  /* max-width: 700px; */
  text-align: center;
  background: rgb(255, 253, 160);
  background: -webkit-linear-gradient(left, #00ffff 0%, #97fba0 25%, #97b1fb 50%, #00ffff 100%) repeat;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-animation-name: masked-animation;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes masked-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -8000px -3000px;
  }
}
Background effect body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: 1.5039367519em 0.203111884em 7px hsla(340.5923246076deg, 100%, 50%, 0.9), 1.9226023063em -0.4093015559em 7px hsla(263.6647273275deg, 100%, 50%, 0.9), -0.0610555647em 0.2660166761em 7px hsla(179.1226432767deg, 100%, 50%, 0.9), 0.1019749828em 0.1485890682em 7px hsla(94.3584084531deg, 100%, 50%, 0.9), 1.9792160948em 2.1261678122em 7px hsla(228.6111788688deg, 100%, 50%, 0.9), 1.5383804806em 1.9560933844em 7px hsla(314.34973127deg, 100%, 50%, 0.9), 1.457006452em 0.056517006em 7px hsla(140.2556669005deg, 100%, 50%, 0.9), 1.3557320199em 0.8998701124em 7px hsla(59.0923588816deg, 100%, 50%, 0.9), 1.2343127037em 1.5466428129em 7px hsla(87.5352865184deg, 100%, 50%, 0.9), -0.1601539064em 0.0870397331em 7px hsla(323.3631617249deg, 100%, 50%, 0.9), -0.000123147em -0.4575228214em 7px hsla(216.0747967213deg, 100%, 50%, 0.9), 1.6598295455em -0.1359064891em 7px hsla(242.596022687deg, 100%, 50%, 0.9), 0.4800651821em 2.1937064309em 7px hsla(68.5998999397deg, 100%, 50%, 0.9), 1.4902904584em 1.7343720752em 7px hsla(323.2854916035deg, 100%, 50%, 0.9), -0.1818863446em 0.9962772747em 7px hsla(115.0940595977deg, 100%, 50%, 0.9), 0.64221726em 0.6800512058em 7px hsla(319.211364404deg, 100%, 50%, 0.9), 1.3047883906em 0.1551017674em 7px hsla(250.4830080241deg, 100%, 50%, 0.9), 1.0831341784em 2.4881477821em 7px hsla(293.7998911987deg, 100%, 50%, 0.9), 0.3371247335em 0.973926037em 7px hsla(188.4227262804deg, 100%, 50%, 0.9), 1.7710175132em 2.0399999421em 7px hsla(21.8394937845deg, 100%, 50%, 0.9), -0.1245440368em 1.4075550623em 7px hsla(302.0149896364deg, 100%, 50%, 0.9), -0.3763052841em 2.2888848284em 7px hsla(269.976153911deg, 100%, 50%, 0.9), 0.0809719762em 1.7788249125em 7px hsla(301.718179298deg, 100%, 50%, 0.9), 2.2929209397em -0.0284225705em 7px hsla(337.1679709664deg, 100%, 50%, 0.9), 1.1749620266em 1.7391813522em 7px hsla(284.3186180745deg, 100%, 50%, 0.9), 2.1615007829em 0.6056149482em 7px hsla(89.9947433278deg, 100%, 50%, 0.9), 1.8580692978em 0.0678832923em 7px hsla(348.2971597817deg, 100%, 50%, 0.9), 1.6562766431em 1.7023103073em 7px hsla(246.9368937651deg, 100%, 50%, 0.9), -0.0506805673em -0.4552358844em 7px hsla(262.9095106396deg, 100%, 50%, 0.9), 0.630669063em 2.4621805488em 7px hsla(333.9546537385deg, 100%, 50%, 0.9), 0.5263659742em 1.6398592169em 7px hsla(350.6714098686deg, 100%, 50%, 0.9), 0.1730229128em 2.2326228001em 7px hsla(26.8354695655deg, 100%, 50%, 0.9), -0.2298321986em 2.17390807em 7px hsla(192.7252354398deg, 100%, 50%, 0.9), 2.2561913217em 2.0536513568em 7px hsla(294.2784071053deg, 100%, 50%, 0.9), -0.3460776729em -0.3800616846em 7px hsla(154.8632988929deg, 100%, 50%, 0.9), 2.154327819em 0.1881882112em 7px hsla(329.1162384248deg, 100%, 50%, 0.9), 1.1113168437em 1.3976917982em 7px hsla(78.8298253266deg, 100%, 50%, 0.9), -0.4524721085em 0.4984399358em 7px hsla(149.257431404deg, 100%, 50%, 0.9), 2.0027777848em 1.0909698798em 7px hsla(260.3013433076deg, 100%, 50%, 0.9), 2.1989699052em 0.8926634176em 7px hsla(156.3386249045deg, 100%, 50%, 0.9), 0.1621637812em 0.766101086em 7px hsla(331.7670570803deg, 100%, 50%, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  text-shadow: 0.0250539464em 0.1187981161em 7px hsla(177.9225282875deg, 100%, 50%, 0.9), 2.0068020666em 0.5711859241em 7px hsla(235.4640554167deg, 100%, 50%, 0.9), -0.139982503em 0.5604180894em 7px hsla(87.7554193088deg, 100%, 50%, 0.9), 2.0617798844em 1.278714937em 7px hsla(150.9737841476deg, 100%, 50%, 0.9), 1.3608591738em 2.3429766992em 7px hsla(235.6455286193deg, 100%, 50%, 0.9), 1.1068713163em -0.1725991217em 7px hsla(216.7835154942deg, 100%, 50%, 0.9), 2.2553222479em 0.8561552799em 7px hsla(194.4656928327deg, 100%, 50%, 0.9), 1.8775580643em -0.2745512748em 7px hsla(202.0783283157deg, 100%, 50%, 0.9), 1.0861668975em 0.2650458649em 7px hsla(108.7539000327deg, 100%, 50%, 0.9), 0.1018598964em 2.2455826685em 7px hsla(96.334030816deg, 100%, 50%, 0.9), -0.4632359698em 0.233740976em 7px hsla(19.5493636118deg, 100%, 50%, 0.9), 1.6777747423em 1.1444155765em 7px hsla(15.1090870994deg, 100%, 50%, 0.9), 0.947453376em 0.0970301383em 7px hsla(130.9305988223deg, 100%, 50%, 0.9), 0.7961710712em -0.4015710709em 7px hsla(297.4782103521deg, 100%, 50%, 0.9), 1.4864995886em 2.4789641559em 7px hsla(339.9169771001deg, 100%, 50%, 0.9), 0.7603476253em 1.7783052963em 7px hsla(128.2900900531deg, 100%, 50%, 0.9), 0.960309242em 0.0033483692em 7px hsla(10.7885450111deg, 100%, 50%, 0.9), 1.6886359187em 1.1853839868em 7px hsla(218.2006937264deg, 100%, 50%, 0.9), 1.2052342372em 1.495252238em 7px hsla(324.0129890097deg, 100%, 50%, 0.9), 2.3225639122em 0.9255005481em 7px hsla(57.6580364345deg, 100%, 50%, 0.9), 1.810737938em 0.5187804924em 7px hsla(110.0861348554deg, 100%, 50%, 0.9), -0.4989800108em 0.7310417248em 7px hsla(152.6516828375deg, 100%, 50%, 0.9), 1.8097065994em 0.0106745391em 7px hsla(106.8730107152deg, 100%, 50%, 0.9), 0.5844769137em 2.1296520108em 7px hsla(23.9610391319deg, 100%, 50%, 0.9), 0.7506645711em 0.4585768578em 7px hsla(152.0086959532deg, 100%, 50%, 0.9), 2.4170477762em 1.3845365776em 7px hsla(101.8434361197deg, 100%, 50%, 0.9), 1.1179000326em 0.9172419532em 7px hsla(175.2339744848deg, 100%, 50%, 0.9), 0.7941134265em 1.9063888337em 7px hsla(265.5898529157deg, 100%, 50%, 0.9), -0.2833353077em 1.1705985519em 7px hsla(333.86109826deg, 100%, 50%, 0.9), 1.3759218808em 1.4574181733em 7px hsla(81.1974725815deg, 100%, 50%, 0.9), 0.4804428105em 2.3135605818em 7px hsla(160.7462805801deg, 100%, 50%, 0.9), 0.4055233511em 1.5632962796em 7px hsla(65.0216313951deg, 100%, 50%, 0.9), 0.4219159417em 1.368706107em 7px hsla(229.9577713987deg, 100%, 50%, 0.9), 1.1551860671em -0.3461981514em 7px hsla(42.472656046deg, 100%, 50%, 0.9), 2.3228933417em 2.3046053669em 7px hsla(19.1881400861deg, 100%, 50%, 0.9), 2.481271426em 0.0016059331em 7px hsla(291.7210911706deg, 100%, 50%, 0.9), 2.2509697885em -0.3981063923em 7px hsla(344.9217835363deg, 100%, 50%, 0.9), 2.4202000172em 2.3938601714em 7px hsla(101.842329595deg, 100%, 50%, 0.9), -0.0466696282em -0.0850678789em 7px hsla(77.1940698522deg, 100%, 50%, 0.9), 0.6402855358em 1.8297841196em 7px hsla(41.5647007988deg, 100%, 50%, 0.9), 0.8691173861em 1.0785872712em 7px hsla(314.5723562761deg, 100%, 50%, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  text-shadow: 0.6077799558em 0.6688204478em 7px hsla(57.0653522601deg, 100%, 50%, 0.9), 0.6253333695em 1.4818766884em 7px hsla(335.2628297169deg, 100%, 50%, 0.9), 0.6949735171em 0.0393978286em 7px hsla(53.6163466583deg, 100%, 50%, 0.9), -0.0504545516em 0.0935171361em 7px hsla(298.651088585deg, 100%, 50%, 0.9), 2.4203577486em 1.6108901258em 7px hsla(25.2777970642deg, 100%, 50%, 0.9), -0.1515582608em 1.4336476306em 7px hsla(308.8940643456deg, 100%, 50%, 0.9), 2.1281852558em 0.9657879867em 7px hsla(120.8935883261deg, 100%, 50%, 0.9), 0.7373256406em 0.5760376711em 7px hsla(337.5297728991deg, 100%, 50%, 0.9), 0.454643242em 0.9722948775em 7px hsla(121.0809436676deg, 100%, 50%, 0.9), 1.8579577988em 0.8848155416em 7px hsla(331.9808860777deg, 100%, 50%, 0.9), 1.0687554328em 2.1049312533em 7px hsla(173.4724099806deg, 100%, 50%, 0.9), 1.7035488241em -0.2983197555em 7px hsla(9.9044179165deg, 100%, 50%, 0.9), 1.241084639em 0.1698172093em 7px hsla(217.1732376238deg, 100%, 50%, 0.9), 2.1400000779em 1.5591647019em 7px hsla(339.3827711947deg, 100%, 50%, 0.9), 1.8926407958em 1.1314102574em 7px hsla(294.4972624252deg, 100%, 50%, 0.9), 0.7241273627em 1.2476995609em 7px hsla(339.0726348486deg, 100%, 50%, 0.9), -0.1216578719em 1.7429609646em 7px hsla(157.8428128922deg, 100%, 50%, 0.9), 1.5481513981em 0.0214836409em 7px hsla(183.2896758697deg, 100%, 50%, 0.9), -0.0349913106em 0.0901559326em 7px hsla(262.4250849135deg, 100%, 50%, 0.9), 1.7170657673em 1.5645909489em 7px hsla(84.7193609597deg, 100%, 50%, 0.9), 0.2577243327em 2.1039534695em 7px hsla(169.5371059829deg, 100%, 50%, 0.9), 1.7884841197em 1.9528963863em 7px hsla(249.0589701219deg, 100%, 50%, 0.9), -0.1409235612em -0.0357451921em 7px hsla(111.0906372589deg, 100%, 50%, 0.9), 2.4619264309em 2.2442150154em 7px hsla(81.9213226828deg, 100%, 50%, 0.9), 2.0622520597em 1.8787886492em 7px hsla(167.4295980125deg, 100%, 50%, 0.9), -0.0058124328em -0.1003635536em 7px hsla(266.4685267153deg, 100%, 50%, 0.9), 2.0644529839em 0.4871098524em 7px hsla(44.2435556348deg, 100%, 50%, 0.9), 0.3807262188em 2.1659429248em 7px hsla(224.5712850831deg, 100%, 50%, 0.9), -0.1507927016em 0.3445928541em 7px hsla(246.8921461105deg, 100%, 50%, 0.9), 0.0893617279em 2.2374945119em 7px hsla(29.6012796062deg, 100%, 50%, 0.9), 0.6404454528em 0.1917643464em 7px hsla(48.5877430388deg, 100%, 50%, 0.9), -0.083264389em 0.8330473091em 7px hsla(222.0473732976deg, 100%, 50%, 0.9), 1.4499814356em -0.0674472608em 7px hsla(158.2558656147deg, 100%, 50%, 0.9), 1.1872267215em 0.7058756113em 7px hsla(295.1736354975deg, 100%, 50%, 0.9), 1.9563660863em 2.1989849445em 7px hsla(262.0009897954deg, 100%, 50%, 0.9), 1.1518494425em 0.1294264836em 7px hsla(208.5912398589deg, 100%, 50%, 0.9), 1.449258219em 2.33592025em 7px hsla(231.3388516833deg, 100%, 50%, 0.9), 0.5780742371em 0.6549590648em 7px hsla(191.9619953907deg, 100%, 50%, 0.9), -0.3502478991em 2.2938533411em 7px hsla(288.2556802218deg, 100%, 50%, 0.9), 0.5959078657em -0.1622449565em 7px hsla(158.9457402165deg, 100%, 50%, 0.9), -0.2714677476em -0.4522633312em 7px hsla(287.761710674deg, 100%, 50%, 0.9);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  text-shadow: -0.1524238613em 0.1311295033em 7px hsla(191.0993965775deg, 100%, 50%, 0.9), 1.5675268206em 2.101207703em 7px hsla(86.5891876861deg, 100%, 50%, 0.9), 1.711777936em 1.6053714266em 7px hsla(309.7293445094deg, 100%, 50%, 0.9), 0.7730404184em 1.469076549em 7px hsla(358.136754229deg, 100%, 50%, 0.9), 0.1096784063em 2.3533072087em 7px hsla(312.0490595599deg, 100%, 50%, 0.9), 2.0418236123em -0.2030204139em 7px hsla(74.4395381271deg, 100%, 50%, 0.9), 1.7542028174em 0.5644187979em 7px hsla(18.1993498361deg, 100%, 50%, 0.9), 0.4382320729em 1.5084491851em 7px hsla(5.3169524301deg, 100%, 50%, 0.9), 0.2416578269em 2.4436034369em 7px hsla(349.6028668601deg, 100%, 50%, 0.9), 1.2302217112em 2.4783490595em 7px hsla(197.2740647221deg, 100%, 50%, 0.9), -0.4941826657em 1.7671211845em 7px hsla(352.4660925769deg, 100%, 50%, 0.9), 1.0475322304em -0.2327810259em 7px hsla(46.1187470389deg, 100%, 50%, 0.9), 1.1815014092em 2.2326350006em 7px hsla(325.4941536921deg, 100%, 50%, 0.9), 0.089734519em -0.3121145593em 7px hsla(292.5200820926deg, 100%, 50%, 0.9), 2.1104524566em 0.8101093933em 7px hsla(334.7012488431deg, 100%, 50%, 0.9), 2.3471196116em 1.8212362009em 7px hsla(294.4423011237deg, 100%, 50%, 0.9), -0.4686324291em 0.578287564em 7px hsla(124.3003475131deg, 100%, 50%, 0.9), 2.0193180404em 1.6597047618em 7px hsla(337.9358044033deg, 100%, 50%, 0.9), 0.8912048959em 1.3700433133em 7px hsla(137.8723902373deg, 100%, 50%, 0.9), 2.4547507787em 2.315328275em 7px hsla(339.6864934651deg, 100%, 50%, 0.9), 1.99486202em 1.5464237497em 7px hsla(14.5322701442deg, 100%, 50%, 0.9), 1.2057605537em 1.0108826541em 7px hsla(131.398986218deg, 100%, 50%, 0.9), 1.8351440805em 1.3160325299em 7px hsla(298.6824075978deg, 100%, 50%, 0.9), -0.3839764789em -0.195753896em 7px hsla(73.1650889819deg, 100%, 50%, 0.9), -0.3066881035em 0.2313944465em 7px hsla(250.753953429deg, 100%, 50%, 0.9), 0.9296198941em -0.3317930317em 7px hsla(58.8135639237deg, 100%, 50%, 0.9), 0.4831481414em -0.2573253757em 7px hsla(256.7421174017deg, 100%, 50%, 0.9), 1.9399091407em -0.35909912em 7px hsla(331.9349179039deg, 100%, 50%, 0.9), 0.470352661em 2.0686666006em 7px hsla(90.7976583551deg, 100%, 50%, 0.9), 1.1346336839em 1.929766304em 7px hsla(12.0483670121deg, 100%, 50%, 0.9), 0.4048001323em 1.7230631003em 7px hsla(76.664261633deg, 100%, 50%, 0.9), 0.1089271504em 1.2075642041em 7px hsla(199.1887029829deg, 100%, 50%, 0.9), 0.1186529969em 1.2344891468em 7px hsla(299.3018869512deg, 100%, 50%, 0.9), 0.2842342885em 1.8339039028em 7px hsla(51.5137609182deg, 100%, 50%, 0.9), 2.0159772186em -0.1937067841em 7px hsla(105.6501329913deg, 100%, 50%, 0.9), -0.0932031446em 0.8648671329em 7px hsla(306.794223567deg, 100%, 50%, 0.9), 2.094741267em 2.1051576786em 7px hsla(124.8513518888deg, 100%, 50%, 0.9), 1.3569519868em -0.4086225907em 7px hsla(128.6720363057deg, 100%, 50%, 0.9), 1.6911018734em 2.4828203171em 7px hsla(285.5093719656deg, 100%, 50%, 0.9), 1.2800760411em 1.774295926em 7px hsla(31.1538476208deg, 100%, 50%, 0.9), 0.1769999013em 0.6096046362em 7px hsla(146.0828877407deg, 100%, 50%, 0.9);
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}/*# sourceMappingURL=colors.css.map */