.animate-charcter {
  text-transform: capitalize;
  background-image: linear-gradient(-225deg, #172274 0%, #0434da 29%, #5ba2e2 67%, #0a78f7 100% #0251ac 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* Start of card animation */
.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #682d0e;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}
/* paragraph text effect */
/* .container {
  padding: 1vw;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
} */
#paracolor {
  color: #000;
  font-family: "montserrat";
  /* font-size: 3vw; */
  font-weight: bold;
  /* letter-spacing: 1vw; */
  /* max-width: 700px; */
  text-align: center;
  background: rgb(255, 253, 160);
  background: -webkit-linear-gradient(left, #00ffff 0%, #97fba0 25%, #97b1fb 50%, #00ffff 100%) repeat;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-animation-name: masked-animation;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes masked-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -8000px -3000px;
  }
}
Background effect body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
head::before, head::after,
body::before, body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: 1.2354075119em 2.2216588345em 7px hsla(160.2754234584deg, 100%, 50%, 0.9), 0.295056767em 0.3913243388em 7px hsla(29.5455453081deg, 100%, 50%, 0.9), 1.7715089906em 1.0893316296em 7px hsla(317.9446638916deg, 100%, 50%, 0.9), -0.3477483706em 1.8695539751em 7px hsla(151.3896565272deg, 100%, 50%, 0.9), 0.9094539347em 2.3218665913em 7px hsla(227.4362680834deg, 100%, 50%, 0.9), 0.2685930965em -0.4821937508em 7px hsla(68.2713792767deg, 100%, 50%, 0.9), 0.1216813382em 1.4465672871em 7px hsla(260.3177904035deg, 100%, 50%, 0.9), 2.1718757083em 1.4603879373em 7px hsla(211.7210412775deg, 100%, 50%, 0.9), -0.366522111em 2.0672828951em 7px hsla(226.4772080886deg, 100%, 50%, 0.9), 1.7307083964em 1.762795878em 7px hsla(101.0722112125deg, 100%, 50%, 0.9), 1.5795067135em -0.4509681652em 7px hsla(160.2839084312deg, 100%, 50%, 0.9), 1.9238292207em 0.7009225544em 7px hsla(330.1474968666deg, 100%, 50%, 0.9), 0.8537302007em -0.3783312173em 7px hsla(39.2507765149deg, 100%, 50%, 0.9), 1.6500811525em 0.3776909948em 7px hsla(175.0602939894deg, 100%, 50%, 0.9), 1.8859497267em 0.5356316339em 7px hsla(101.7877660859deg, 100%, 50%, 0.9), 1.2907273298em 0.5329904079em 7px hsla(247.9224346172deg, 100%, 50%, 0.9), 2.3154973129em 0.268496158em 7px hsla(223.6624224047deg, 100%, 50%, 0.9), 2.0521415574em 1.9659334114em 7px hsla(329.4590756548deg, 100%, 50%, 0.9), 1.0117157896em -0.250761807em 7px hsla(228.7486645507deg, 100%, 50%, 0.9), -0.2567452297em 1.0406924036em 7px hsla(276.6641231469deg, 100%, 50%, 0.9), 1.3716951056em 0.1825944351em 7px hsla(35.1246531496deg, 100%, 50%, 0.9), 0.7867258699em 0.4525855097em 7px hsla(20.5365455732deg, 100%, 50%, 0.9), 1.0145275131em -0.0835860946em 7px hsla(89.9015785795deg, 100%, 50%, 0.9), 0.5268866882em -0.221031461em 7px hsla(231.6884489773deg, 100%, 50%, 0.9), 0.6867697848em 0.8535044309em 7px hsla(140.1357847917deg, 100%, 50%, 0.9), -0.4447432471em 0.5887251738em 7px hsla(27.5339396655deg, 100%, 50%, 0.9), 1.7576337678em 1.0640094293em 7px hsla(68.5473257465deg, 100%, 50%, 0.9), -0.0502115809em 0.3570270687em 7px hsla(174.4691595046deg, 100%, 50%, 0.9), 1.1456674543em 1.0512410832em 7px hsla(304.1952816282deg, 100%, 50%, 0.9), 2.4755055782em 1.7093186135em 7px hsla(102.4242941951deg, 100%, 50%, 0.9), 1.6173037007em 0.1750321768em 7px hsla(61.5911859058deg, 100%, 50%, 0.9), 1.3918473839em -0.0460591298em 7px hsla(280.5849946035deg, 100%, 50%, 0.9), 0.909047579em 2.3835182028em 7px hsla(191.7293654674deg, 100%, 50%, 0.9), 2.3598758723em 1.3262717382em 7px hsla(189.64380356deg, 100%, 50%, 0.9), 1.1343817429em 0.1257583696em 7px hsla(54.3102949289deg, 100%, 50%, 0.9), 0.6957757929em 1.9830891762em 7px hsla(175.827718078deg, 100%, 50%, 0.9), 1.5857369142em -0.0432638237em 7px hsla(282.9948678659deg, 100%, 50%, 0.9), 1.0141436219em -0.2298999889em 7px hsla(325.2200078477deg, 100%, 50%, 0.9), 1.5381127712em 1.8877956291em 7px hsla(245.7196047372deg, 100%, 50%, 0.9), 0.6101495862em 2.3145177367em 7px hsla(236.4146243568deg, 100%, 50%, 0.9), 0.39539793em 1.4513514977em 7px hsla(257.714425529deg, 100%, 50%, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  text-shadow: 0.9849233574em 1.8878638159em 7px hsla(246.1705299885deg, 100%, 50%, 0.9), -0.1402061659em -0.1301578234em 7px hsla(96.1630412989deg, 100%, 50%, 0.9), -0.4486877775em 1.5616760029em 7px hsla(23.9088561938deg, 100%, 50%, 0.9), 1.0156420406em -0.453525134em 7px hsla(303.9035663104deg, 100%, 50%, 0.9), 0.7984647897em 2.2007914716em 7px hsla(185.4356594128deg, 100%, 50%, 0.9), 0.4605155723em 1.9531762649em 7px hsla(46.7492136094deg, 100%, 50%, 0.9), 1.2772672434em -0.2812055439em 7px hsla(142.0497840645deg, 100%, 50%, 0.9), 0.1377256835em 1.4434653391em 7px hsla(297.2721542342deg, 100%, 50%, 0.9), -0.0177018499em 2.1386009838em 7px hsla(136.0519262823deg, 100%, 50%, 0.9), 0.5995819069em 0.1712743102em 7px hsla(272.8465597971deg, 100%, 50%, 0.9), 1.0058441691em -0.4897928499em 7px hsla(101.7270377411deg, 100%, 50%, 0.9), -0.3286922191em 0.7518885752em 7px hsla(67.3341448802deg, 100%, 50%, 0.9), -0.1382911113em 0.7820520499em 7px hsla(173.2083907182deg, 100%, 50%, 0.9), -0.3126176237em 2.0199406052em 7px hsla(172.1803365405deg, 100%, 50%, 0.9), 2.0346587149em -0.141098355em 7px hsla(137.0355887036deg, 100%, 50%, 0.9), 0.3149231295em -0.2369939575em 7px hsla(212.5567718558deg, 100%, 50%, 0.9), 1.5899025914em 1.5384654522em 7px hsla(168.6623414414deg, 100%, 50%, 0.9), 1.3857669163em 0.9804583769em 7px hsla(217.1348734859deg, 100%, 50%, 0.9), -0.4558555223em 2.4514414255em 7px hsla(36.1953541395deg, 100%, 50%, 0.9), 2.3030303903em 0.792486285em 7px hsla(189.1703666739deg, 100%, 50%, 0.9), 2.4155251012em 1.5397086669em 7px hsla(51.9530773885deg, 100%, 50%, 0.9), 1.7864756424em 0.759591299em 7px hsla(136.8265536903deg, 100%, 50%, 0.9), 2.0023833062em 1.041789609em 7px hsla(5.3792382056deg, 100%, 50%, 0.9), 0.9779722668em 0.9559402493em 7px hsla(42.7605104193deg, 100%, 50%, 0.9), 1.3186271098em 1.5997607797em 7px hsla(28.7459119199deg, 100%, 50%, 0.9), 2.0895242034em -0.2328670496em 7px hsla(80.7730701071deg, 100%, 50%, 0.9), 0.413738984em 2.4348611445em 7px hsla(4.3377845266deg, 100%, 50%, 0.9), 0.8272323126em 0.0038809823em 7px hsla(273.1066245937deg, 100%, 50%, 0.9), -0.153484717em 1.4576086299em 7px hsla(79.94212427deg, 100%, 50%, 0.9), 1.4371096714em 0.9138534887em 7px hsla(159.4633630115deg, 100%, 50%, 0.9), 0.8472927146em 0.1099386991em 7px hsla(88.9892782201deg, 100%, 50%, 0.9), 0.0541143921em 0.6869051903em 7px hsla(36.4597747357deg, 100%, 50%, 0.9), 0.0327300976em -0.4169401402em 7px hsla(194.3385154546deg, 100%, 50%, 0.9), -0.161695634em 1.4129147089em 7px hsla(0.4084145447deg, 100%, 50%, 0.9), 1.9387633029em 2.1761526597em 7px hsla(43.7651182368deg, 100%, 50%, 0.9), 1.1388692045em 1.7486292727em 7px hsla(299.1047520349deg, 100%, 50%, 0.9), 0.7269125039em 0.7749153908em 7px hsla(316.3254358032deg, 100%, 50%, 0.9), 1.0486846083em 0.4106282574em 7px hsla(334.0863908092deg, 100%, 50%, 0.9), 0.2828867029em 2.4972978764em 7px hsla(231.2244457873deg, 100%, 50%, 0.9), 1.2228711071em 1.8953159979em 7px hsla(14.1594600873deg, 100%, 50%, 0.9), 0.80426657em 0.9250637695em 7px hsla(7.5055536538deg, 100%, 50%, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  text-shadow: 2.2052710176em 0.529963983em 7px hsla(22.3645911698deg, 100%, 50%, 0.9), -0.3499524601em -0.1726399314em 7px hsla(40.5186530115deg, 100%, 50%, 0.9), 1.1888481106em 1.4158029031em 7px hsla(141.0861829089deg, 100%, 50%, 0.9), -0.3448771992em 0.9037316274em 7px hsla(233.8888347493deg, 100%, 50%, 0.9), 1.3513705979em 2.0978716945em 7px hsla(38.037601525deg, 100%, 50%, 0.9), 1.7285575166em 0.5897686396em 7px hsla(96.7737428502deg, 100%, 50%, 0.9), 1.1017238728em 1.4114742643em 7px hsla(299.4066237327deg, 100%, 50%, 0.9), 1.4010381109em 2.3529074867em 7px hsla(255.1943303233deg, 100%, 50%, 0.9), 0.872622323em 1.0430688615em 7px hsla(46.6139964184deg, 100%, 50%, 0.9), 1.302594387em 1.1674460937em 7px hsla(9.8827628328deg, 100%, 50%, 0.9), -0.1806667189em 0.6287831614em 7px hsla(106.5200982873deg, 100%, 50%, 0.9), 1.0902100825em -0.0113011965em 7px hsla(226.2645460315deg, 100%, 50%, 0.9), 0.2564107615em 0.2773212077em 7px hsla(294.9789544189deg, 100%, 50%, 0.9), 1.5255106379em -0.3864240209em 7px hsla(267.5729701695deg, 100%, 50%, 0.9), 0.4930921392em -0.0283633134em 7px hsla(134.0909731896deg, 100%, 50%, 0.9), 0.4301118444em 0.3790204605em 7px hsla(192.458948801deg, 100%, 50%, 0.9), 0.5941144058em 0.1623418066em 7px hsla(274.0055316509deg, 100%, 50%, 0.9), 1.4814823837em 1.4813419918em 7px hsla(187.9286751682deg, 100%, 50%, 0.9), 1.0218369999em 1.6708236em 7px hsla(149.2384238702deg, 100%, 50%, 0.9), 0.1770624819em 0.7538669907em 7px hsla(193.977349719deg, 100%, 50%, 0.9), 2.0069092087em 0.2761322681em 7px hsla(6.9572027824deg, 100%, 50%, 0.9), 0.6512027303em 1.7386166516em 7px hsla(194.9204782561deg, 100%, 50%, 0.9), 1.3287965044em -0.3506162993em 7px hsla(357.6627631137deg, 100%, 50%, 0.9), 1.2748135556em -0.3998787231em 7px hsla(276.1243783073deg, 100%, 50%, 0.9), 0.9452688874em 1.6433478732em 7px hsla(335.6170093259deg, 100%, 50%, 0.9), 2.2716301821em 1.7338117593em 7px hsla(315.0793150385deg, 100%, 50%, 0.9), 0.9417013455em 1.9264526349em 7px hsla(230.9530046918deg, 100%, 50%, 0.9), -0.490363924em -0.4822142197em 7px hsla(295.3142520419deg, 100%, 50%, 0.9), 1.7245041481em 1.1770976346em 7px hsla(174.4644487996deg, 100%, 50%, 0.9), 0.8010328804em 2.410268993em 7px hsla(234.579442712deg, 100%, 50%, 0.9), 0.7786552434em 0.5856647223em 7px hsla(288.1372685786deg, 100%, 50%, 0.9), 1.7834930382em 1.1932022398em 7px hsla(142.7896592129deg, 100%, 50%, 0.9), 1.9974159462em 0.1498972884em 7px hsla(356.9436174174deg, 100%, 50%, 0.9), 0.5374757902em 2.1574709224em 7px hsla(12.7816787032deg, 100%, 50%, 0.9), 1.0496524944em 2.2932361561em 7px hsla(196.278257102deg, 100%, 50%, 0.9), 1.5306803405em 0.5350374559em 7px hsla(357.5376481623deg, 100%, 50%, 0.9), 2.4754446832em 2.2886440505em 7px hsla(335.8520505735deg, 100%, 50%, 0.9), -0.0908765321em 1.9460144441em 7px hsla(192.5336185202deg, 100%, 50%, 0.9), -0.4372047078em 0.6031338548em 7px hsla(113.2232113889deg, 100%, 50%, 0.9), 1.7071925518em 0.3511277351em 7px hsla(326.4434242936deg, 100%, 50%, 0.9), -0.3725823168em 0.9293722888em 7px hsla(32.6572204586deg, 100%, 50%, 0.9);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  text-shadow: 0.0276469427em 1.8498887972em 7px hsla(352.4644140954deg, 100%, 50%, 0.9), 0.6947679555em 1.7537537948em 7px hsla(278.8397193592deg, 100%, 50%, 0.9), 0.3408590283em 1.2072317826em 7px hsla(177.4497409584deg, 100%, 50%, 0.9), 1.3898295072em 1.733462709em 7px hsla(47.8090342782deg, 100%, 50%, 0.9), -0.0791311015em 0.9068184413em 7px hsla(183.962281401deg, 100%, 50%, 0.9), 0.5652082332em 1.2015642928em 7px hsla(44.2534374099deg, 100%, 50%, 0.9), 0.4501614115em 1.4007423842em 7px hsla(104.60940129deg, 100%, 50%, 0.9), 0.9242717873em 0.2002217884em 7px hsla(69.6241572902deg, 100%, 50%, 0.9), -0.2522228518em 0.7407020221em 7px hsla(115.3618176014deg, 100%, 50%, 0.9), 0.2920278799em -0.2847466416em 7px hsla(340.0152093183deg, 100%, 50%, 0.9), 0.2205521598em 1.1437146379em 7px hsla(32.7048247016deg, 100%, 50%, 0.9), 0.3605630953em -0.4990442867em 7px hsla(140.0332046008deg, 100%, 50%, 0.9), 1.9167127652em 1.6978049588em 7px hsla(353.1088496006deg, 100%, 50%, 0.9), 1.0239813662em 0.8075422363em 7px hsla(326.1643856329deg, 100%, 50%, 0.9), 1.6339448371em 0.6981467789em 7px hsla(82.6786816561deg, 100%, 50%, 0.9), 2.03443057em 1.6514203545em 7px hsla(251.971086356deg, 100%, 50%, 0.9), 0.9423301812em 0.0929330512em 7px hsla(81.9619754311deg, 100%, 50%, 0.9), 0.9309894258em 1.9649581565em 7px hsla(109.0729478883deg, 100%, 50%, 0.9), 1.1260713633em -0.4921580144em 7px hsla(171.1100843906deg, 100%, 50%, 0.9), 2.0697599533em 2.375741604em 7px hsla(243.9841824383deg, 100%, 50%, 0.9), 0.4676945357em 0.3816870593em 7px hsla(22.1193016835deg, 100%, 50%, 0.9), 0.3924929025em 2.4486506172em 7px hsla(262.1118187236deg, 100%, 50%, 0.9), 1.3142218075em 2.0101631747em 7px hsla(64.4663306111deg, 100%, 50%, 0.9), 2.214289705em 2.0329176445em 7px hsla(127.2449997811deg, 100%, 50%, 0.9), 0.2960216129em 1.8656060029em 7px hsla(69.9736719488deg, 100%, 50%, 0.9), 0.1381811403em 2.1137089181em 7px hsla(238.0503094588deg, 100%, 50%, 0.9), 0.8382467094em 1.7025240468em 7px hsla(63.2918878527deg, 100%, 50%, 0.9), 1.4283810367em 0.1704577292em 7px hsla(215.9184272176deg, 100%, 50%, 0.9), 2.3354551736em 0.3640772576em 7px hsla(143.4561625237deg, 100%, 50%, 0.9), 1.1590877653em 0.0173308063em 7px hsla(10.4054539895deg, 100%, 50%, 0.9), 0.1678325214em -0.0194393081em 7px hsla(131.0118041105deg, 100%, 50%, 0.9), -0.2989164372em 0.3906550408em 7px hsla(108.413303228deg, 100%, 50%, 0.9), -0.3225611249em 2.3119834705em 7px hsla(357.5685075533deg, 100%, 50%, 0.9), 1.0041054141em 0.258254854em 7px hsla(136.0782748735deg, 100%, 50%, 0.9), 1.4523865677em 1.4837283256em 7px hsla(143.4734378887deg, 100%, 50%, 0.9), 1.1614647841em 0.8263293285em 7px hsla(149.4411244264deg, 100%, 50%, 0.9), 2.0049356725em 2.4635828483em 7px hsla(200.0217527133deg, 100%, 50%, 0.9), 2.1215355435em 0.4329238358em 7px hsla(5.2811012269deg, 100%, 50%, 0.9), 0.998613549em 1.9779436653em 7px hsla(85.2968457693deg, 100%, 50%, 0.9), 0.8617967161em -0.1769821676em 7px hsla(62.5664204851deg, 100%, 50%, 0.9), 1.5338774692em 1.4684457118em 7px hsla(48.6624452536deg, 100%, 50%, 0.9);
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}/*# sourceMappingURL=colors.css.map */