.navHeight{
    height: max(12vh, 60px);
}
.navTheme{
    background: rgb(10,64,85);
    background: linear-gradient(100deg, rgba(10,64,85,1) 0%, rgba(43,89,121,1) 88%);
    box-shadow: 1px 1px 7px black;
}

// Changing an exisiting Class
.nav-link{
    font-family: brother-1816;
    font-style: normal;
    font-weight: 300;
    font-size: max(1vw, 15px);
    color: black;
    }
.nav-link:hover{
   color: white!important;
}
.nav-item{
    padding-left: 1vw;
    padding-right: 1vw; 
}
.navbar-toggler{
    background-color: #86878a;
}
.navbar-toggler-icon{
    background-color: #86878a;
}
.navImg{
    width: max(10vw, 175px);
}
#navbarNav{
    z-index: 3;
}