.navHeight{
    height: max(15vh, 75px);
}
.navTheme{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0) 6%, rgba(12,168,231,1) 50%, rgba(2,116,194,1) 100%);
    box-shadow: 1px 1px 7px black;
}

// Changing an exisiting Class
.nav-link{
    font-family: brother-1816;
    font-style: normal;
    font-weight: 300;
    font-size: max(1.25vw, 20px);
    color: black;
    }
.nav-link:hover{
   color: white!important;
}
.nav-item{
    padding-left: 0.5vw;
    padding-right: 0.5vw; 
}
.navbar-toggler-icon{
    background-color: white;
}
.navbar-toggler{
    background-color: white;
}